button {
    padding: 10% 20%;
    font-size: 5vw;
}

h1 {
    font-size: 8vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
